# Python virtual environment
venv/
webui-venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.env

# Output files
backend/fastAPI/outputImages/*.png
backend/fastAPI/outputImages/*.jpg
backend/fastAPI/outputImages/*.jpeg
most_recent.txt
test/test_output.png

# Build and distribution folders
bin/
obj/
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.user

# OS specific files
.DS_Store

# .NET Core
*.dll
*.exe
*.pdb
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Downloaded models
models/Stable/
